@import "config/mixins";
.comments{
    @include box;
    background-color: rgba(255, 237, 214, 0.776);
    &__topic{
        font-size: 1.2rem;
        color: #ec5342d3;
    }

    &__info{
        display: flex;
    }
    &__title{
        font-weight: 700;
        font-size: 1rem;
    }

    &__text{
         font-size: 1rem;
    }
}